# Allow PHP execution
<FilesMatch \.php$>
    SetHandler application/x-httpd-php
</FilesMatch>

# Deny access to sensitive files
<FilesMatch "\.(env|git)">
    Order deny,allow
    Deny from all
</FilesMatch>